body{
	background-color: black;
}

.page2{
	background-color: black;
}

.go-back{
	color: white;
	font-size: 120%;
	text-align: center;
	padding: 30px 70px;
}


nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 20px 60px;
}


p{
	color: white;
	text-align:center;
}



.black-background{
	background-color: black
}


.big-image{
  padding: 10px;
}



.column1{
	float: left;
	margin-left: 30px;
	margin-right: 40px;
	padding: 30px;
}






.form-label{
	color: white;
}









.label{
	color: black;
}


.form-check{
 color: white;
}




.carousel-caption{
	position: absolute;
	left: 0;
	width: 50%;
	top: 40%;
	margin-left: -10%;
	color: white;
}

.carousel-caption h5{
	font-size: 100px
	font-weight: 700;
}

.btn-outline-success{
	color: black;
	background-image: none;
	background-color: #E4DE45;
	border-color: #E4DE45;
}



{
	list-style-type: none;
	display: inline-block;
	padding: 20px 70px;
}






	.button-10 {
		background-color: #E4DE45;
		border: none;
		color: black;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin-left: 30%;
		margin-right: 30%
	}


.button{
		background-color: #E4DE45;
		border: none;
			padding: 15px 32px;
}

.button-11{
	background-color: #E4DE45;
	border: none;
		padding: 15px 32px;
}


.col-20{
	text-align: center;
}


.col-30{
	text-align: center;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%
}

.col-31{
	text-align: center;
	width: 40%;
}


.Back{
	background-color: #E4DE45;
	border: none;
	padding: 20px 20px;
	width: 20%;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%
}





.col-80{

}




	.menu-btn {
	  position: relative;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 80px;
	  height: 80px;
	  cursor: pointer;
	  transition: all .5s ease-in-out;
	  /* border: 3px solid #fff; */
	}
	.menu-btn__burger {
	  width: 50px;
	  height: 6px;
	 	background: #E4DE45;
	  border-radius: 5px;
	  box-shadow: 0 2px 5px rgba(255,101,47,.2);
	  transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before,
	.menu-btn__burger::after {
	  content: '';
	  position: absolute;
	  width: 50px;
	  height: 6px;
	  background: #E4DE45;
	  border-radius: 5px;
	  box-shadow: 0 2px 5px rgba(255,101,47,.2);
	  transition: all .5s ease-in-out;
	}
	.menu-btn__burger::before {
	  transform: translateY(-16px);
		width: 50px;
	 	height: 6px;
		background: #E4DE45;

	}
	.menu-btn__burger::after {
	  transform: translateY(16px);
		width: 50px;
	 	height: 6px;
	 	background: #E4DE45;


  div{
		padding-left: 100px;
		padding-right: 100px;
		}









	body {
	    font-family: Arial;
	    font-size: 17px;
	    padding: 8px;
	}
	h2{
	    text-align:left;
	}

	* {
	    box-sizing: border-box;
	}

	.error {
	    color: red;
	    border-color: red;
	}

	.row {
	    display: -ms-flexbox; /* IE10 */
	    display: flex;
	    -ms-flex-wrap: wrap; /* IE10 */
	    flex-wrap: wrap;
	    margin: 0 -10px;
	}


	.col-25 {
	    -ms-flex: 25%; /* IE10 */
	    flex: 25%;
	}

	.col-50 {
	    -ms-flex: 50%; /* IE10 */
	    flex: 50%;
	}

	.col-75 {
	    -ms-flex: 75%; /* IE10 */
	    flex: 75%;
	}

	.col-25,.col-50,.col-75 {
	    padding: 0 16px;
	}

	.container {
	    background-color: #000000;
	    padding: 3px 18px 13px 18px;
	    border: 1px solid black;
	    border-radius: 3px;

	}



	input[type=text] {
	    width: 100%;
	    margin-bottom: 20px;
	    padding: 12px;
	    border: 1px solid rgb(130, 26, 26);
	    border-radius: 1px;
	}

	label {
	    margin-bottom: 10px;
	    display: block;
	}

	.icon-container {
	    margin-bottom: 20px;
	    padding: 7px 0;
	    font-size: 24px;
	}

	.btn {
	    background-color: #E4DE45;
	    color: white;
	    padding: 12px;
	    margin: 10px 0;
	    border: none;
	    width: 100%;
	    border-radius: 3px;
	    cursor: pointer;
	    font-size: 17px;
	    box-shadow: 0 0 1rem 0 rgba(99, 123, 150, 0.329);

	}




	.btn:hover {
	    background-color: #0CBABA;
	}

	a {
	    color: #E4DE45;
	}

	hr {
	    border: 1px solid lightgrey;
	}

	span.price {
	    float: right;
	    color: grey;
	}

	*/
	@media (max-width: 800px) {
	    .row {
	        flex-direction: column-reverse;
	    }
	    .col-25 {
	        margin-bottom: 20px;
	    }














.container {
    background: #E8F0F9;
}
